{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="col-md-12">
        <div class="intro">
           <h1>Registro de Visitas</h1> 
        </div>
    </div>

     <form action="/" method="post">
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-md-6">
                <input type="text" class="form-control" id="{{ form.nombre.id_for_label }}" placeholder="Nombre" required>
            </div>
            <div class="form-group col-md-6">
                <input type="text" class="form-control" id="{{ form.apellido.id_for_label }}" placeholder="Apellido">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <input type="text" class="form-control" id="{{ form.empresa.id_for_label }}" placeholder="Empresa" required>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <input type="email" class="form-control" id="{{ form.email.id_for_label }}" placeholder="email" required>
            </div>
            <div class="form-group col-md-6">
                <input type="text" class="form-control" id="{{ form.telefono.id_for_label }}" placeholder="Teléfono" required>
            </div>
        </div>
        <div class="form-row">
                <button type="submit" class="btn btn-primary btn-sm btn-block">Registrar</button>
        </div>
     </form>

{% endblock %}
