{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="col-md-12">
        <div class="intro">
           <h1>Registro de Visitas</h1> 
           <p>Favor de registrarse</p>
        </div>
    </div>

     <form action="/" method="post">
     	{% csrf_token %}
     	<div class="form-group row">
     		<label for="{{ form.nombre.id_for_label }}" class="col-sm-2 col-form-label">Nombre</label>
     		<div class="col-sm-10">
     			<input type="text" class="form-control" id="{{ form.nombre.id_for_label }}" placeholder="Nombre">
     		</div>
     	</div>
     	<div class="form-group row">
     		<label for="{{ form.empresa.id_for_label }}" class="col-sm-2 col-form-label">Empresa</label>
     		<div class="col-sm-10">
     			<input type="text" class="form-control" id="{{ form.empresa.id_for_label }}" placeholder="Empresa">
     		</div>
     	</div>
     	<div class="form-group row">
     		<div class="col-sm-10">
     			<button type="submit" class="btn btn-primary">Registrar</button>
     		</div>
     	</div>
     </form>

{% endblock %}